#----    R auxiliary files    -----
.Rproj.user
.Rhistory
.RData
.Ruserdata
.rmdrive

#----    folders    ----
deprecated/
test/
.rmdrive/

#----    mac auxiliary files    ----
.DS_Store

#----    authentication token    ----
.secrets
!tests/testthat/.secrets
