#----    R auxiliary files    -----
.Rproj.user
.Rhistory
.RData
.Ruserdata
.rmdrive

#----    packgdown    ----
pkgdown

#----    mac auxiliary files    ----
.DS_Store

#----    authentication token    ----
.secrets

inst/doc
doc
Meta
