http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28mimeType%20%3D%20%27application%2Fvnd.google-apps.folder%27%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1D8mSAqrPRD5KFQzPrbRQWgtmbZh7UyxO",
           "name": "my_folder",
           "mimeType": "application/vnd.google-apps.folder",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "1Ow7GM1dLfu31eygq9Dc8tG6b5IMdD2mr"
           ],
           "spaces": [
            "drive"
           ],
           "version": "19",
           "webViewLink": "https://drive.google.com/drive/folders/1D8mSAqrPRD5KFQzPrbRQWgtmbZh7UyxO",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder",
           "hasThumbnail": false,
           "thumbnailVersion": "0",
           "viewedByMe": true,
           "viewedByMeTime": "2021-03-10T09:08:46.061Z",
           "createdTime": "2021-03-10T08:03:33.517Z",
           "modifiedTime": "2021-03-10T08:03:33.517Z",
           "modifiedByMeTime": "2021-03-10T08:03:33.517Z",
           "modifiedByMe": true,
           "owners": [
            {
             "kind": "drive#user",
             "displayName": "trackdown rpackage",
             "me": true,
             "permissionId": "09109446299227804908",
             "emailAddress": "trackdown.rpackage@gmail.com"
            }
           ],
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "trackdown rpackage",
            "me": true,
            "permissionId": "09109446299227804908",
            "emailAddress": "trackdown.rpackage@gmail.com"
           },
           "shared": false,
           "ownedByMe": true,
           "capabilities": {
            "canAddChildren": true,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": true,
            "canCopy": false,
            "canDelete": true,
            "canDownload": true,
            "canEdit": true,
            "canListChildren": true,
            "canModifyContent": true,
            "canMoveChildrenWithinDrive": true,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadRevisions": false,
            "canRemoveChildren": true,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
           },
           "viewersCanCopyContent": true,
           "copyRequiresWriterPermission": false,
           "writersCanShare": true,
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "09109446299227804908",
             "type": "user",
             "emailAddress": "trackdown.rpackage@gmail.com",
             "role": "owner",
             "displayName": "trackdown rpackage",
             "deleted": false
            }
           ],
           "permissionIds": [
            "09109446299227804908"
           ],
           "folderColorRgb": "#8f8f8f",
           "quotaBytesUsed": "0",
           "isAppAuthorized": false
          },
          {
           "kind": "drive#file",
           "id": "1iRRUiG-IqA8KGvFVyrQWSUQgJJ7i8xYm",
           "name": "foo_folder",
           "mimeType": "application/vnd.google-apps.folder",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "1D8mSAqrPRD5KFQzPrbRQWgtmbZh7UyxO"
           ],
           "spaces": [
            "drive"
           ],
           "version": "6",
           "webViewL[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/root?supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": [...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"foo"}'
    headers:
      Content-Type: application/json
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#file",
         "id": "1-b-GhlwBHGuTYp5JVTqnPdq0itkiyPcr",
         "name": "foo",
         "mimeType": "application/vnd.google-apps.folder",
         "[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1-b-GhlwBHGuTYp5JVTqnPdq0itkiyPcr?supportsTeamDrives=TRUE
    body:
      encoding: ''
      string: '{}'
    headers:
      Content-Type: application/json
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 204
      category: Success
      reason: No Content
      message: 'Success: (204) No Content'
    headers:
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-03-12 15:13:45 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
