http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"foo","parents":["17jj7fpEB2sCyC-9WHjJeimZllBN6Yy44"]}'
    headers:
      Content-Type: application/json
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#file",
         "id": "1TJpd9luzCmXisWTU5wey7uwWjaumJX2c",
         "name": "foo",
         "mimeType": "application/vnd.google-apps.folder",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "parents": [
          "17jj7fpEB2sCyC-9WHjJeimZllBN6Yy44"
         ],
         "spaces": [
          "drive"
         ],
         "version": "1",
         "webViewLink": "https://drive.google.com/drive/folders/1TJpd9luzCmXisWTU5wey7uwWjaumJX2c",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+48",
         "hasThumbnail": false,
         "thumbnailVersion": "0",
         "viewedByMe": false,
         "createdTime": "2021-02-23T09:16:44.186Z",
         "modifiedTime": "2021-02-23T09:16:44.186Z",
         "modifiedByMeTime": "2021-02-23T09:16:44.186Z",
         "modifiedByMe": true,
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "review down",
           "me": true,
           "permissionId": "05270575818361544715",
           "emailAddress": "reviewdown.test@gmail.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "review down",
          "me": true,
          "permissionId": "05270575818361544715",
          "emailAddress": "reviewdown.test@gmail.com"
         },
         "shared": false,
         "ownedByMe": true,
         "capabilities": {
          "canAddChildren": true,
          "canAddMyDriveParent": false,
          "canChangeCopyRequiresWriterPermission": false,
          "canChangeViewersCanCopyContent": false,
          "canComment": true,
          "canCopy": false,
          "canDelete": true,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": true,
          "canModifyContent": true,
          "canMoveChildrenWithinDrive": true,
          "canMoveItemIntoTeamDrive": true,
          "canMoveItemOutOfDrive": true,
          "canMoveItemWithinDrive": true,
          "canReadRevisions": false,
          "canRemoveChildren": true,
          "canRemoveMyDriveParent": true,
          "canRename": true,
          "canShare": true,
          "canTrash": true,
          "canUntrash": true
         },
         "viewersCanCopyContent": true,
         "copyRequiresWriterPermission": false,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "05270575818361544715",
           "type": "user",
           "emailAddress": "reviewdown.test@gmail.com",
           "role": "owner",
           "displayName": "review down",
           "deleted": false
          }
         ],
         "permissionIds": [
          "05270575818361544715"
         ],
         "folderColorRgb": "#8f8f8f",
         "quotaBytesUsed": "0",
         "isAppAuthorized": true
        }
  recorded_at: 2021-02-23 09:16:45 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1TJpd9luzCmXisWTU5wey7uwWjaumJX2c?supportsTeamDrives=TRUE
    body:
      encoding: ''
      string: '{}'
    headers:
      Content-Type: application/json
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 204
      category: Success
      reason: No Content
      message: 'Success: (204) No Content'
    headers:
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-02-23 09:16:45 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
