http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/root?supportsAllDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#file",
         "id": "0APbdQMofmpmkUk9PVA",
         "name": "My Drive",
         "mimeType": "application/vnd.google-apps.folder",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "spaces": [
          "drive"
         ],
         "version": "1",
         "webViewLink": "https://drive.google.com/drive/folders/0APbdQMofmpmkUk9PVA",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder",
         "hasThumbnail": false,
         "thumbnailVersion": "0",
         "viewedByMe": false,
         "createdTime": "2022-03-01T14:07:22.507Z",
         "modifiedTime": "2022-03-01T14:07:22.507Z",
         "modifiedByMe": false,
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "trackdown tests",
           "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
           "me": true,
           "permissionId": "07198277475976122843",
           "emailAddress": "trackdown.tests@gmail.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "trackdown tests",
          "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
          "me": true,
          "permissionId": "07198277475976122843",
          "emailAddress": "trackdown.tests@gmail.com"
         },
         "shared": false,
         "ownedByMe": true,
         "capabilities": {
          "canAcceptOwnership": false,
          "canAddChildren": true,
          "canAddMyDriveParent": true,
          "canChangeCopyRequiresWriterPermission": false,
          "canChangeSecurityUpdateEnabled": false,
          "canChangeViewersCanCopyContent": false,
          "canComment": true,
          "canCopy": false,
          "canDelete": true,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": true,
          "canModifyContent": true,
          "canMoveChildrenWithinDrive": true,
          "canMoveItemIntoTeamDrive": true,
          "canMoveItemOutOfDrive": true,
          "canMoveItemWithinDrive": true,
          "canReadRevisions": false,
          "canRemoveChildren": true,
          "canRemoveMyDriveParent": true,
          "canRename": true,
          "canShare": true,
          "canTrash": true,
          "canUntrash": true
         },
         "viewersCanCopyContent": true,
         "copyRequiresWriterPermission": false,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "07198277475976122843",
           "type": "user",
           "emailAddress": "trackdown.tests@gmail.com",
           "role": "owner",
           "displayName": "trackdown tests",
           "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
           "deleted": false,
           "pendingOwner": false
          }
         ],
         "permissionIds": [
          "07198277475976122843"
         ],
         "folderColorRgb": "#8f8f8f",
         "quotaBytesUsed": "0",
         "isAppAuthorized": false,
         "linkShareMetadata": {
          "securityUpdateEligible": false,
          "securityUpdateEnabled": true
         }
        }
  recorded_at: 2022-03-01 15:01:14 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
