http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28mimeType%20%3D%20%27application%2Fvnd.google-apps.folder%27%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1fwiMeOkKSeYcaZOk-pJBrFxEmpQQOaqy",
           "name": "paper_JOSS",
           "mimeType": "application/vnd.google-apps.folder",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0APbXnIs35pMSUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "13",
           "webViewLink": "https://drive.google.com/drive/folders/1fwiMeOkKSeYcaZOk-pJBrFxEmpQQOaqy",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
           "hasThumbnail": false,
           "thumbnailVersion": "0",
           "viewedByMe": true,
           "viewedByMeTime": "2021-06-16T17:19:09.032Z",
           "createdTime": "2021-06-16T16:58:35.653Z",
           "modifiedTime": "2021-06-16T16:59:45.613Z",
           "modifiedByMeTime": "2021-06-16T16:59:45.613Z",
           "modifiedByMe": true,
           "owners": [
            {
             "kind": "drive#user",
             "displayName": "trackdown rpackage",
             "me": true,
             "permissionId": "09109446299227804908",
             "emailAddress": "trackdown.rpackage@gmail.com"
            }
           ],
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "trackdown rpackage",
            "me": true,
            "permissionId": "09109446299227804908",
            "emailAddress": "trackdown.rpackage@gmail.com"
           },
           "shared": true,
           "ownedByMe": true,
           "capabilities": {
            "canAddChildren": true,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": true,
            "canCopy": false,
            "canDelete": true,
            "canDownload": true,
            "canEdit": true,
            "canListChildren": true,
            "canModifyContent": true,
            "canMoveChildrenWithinDrive": true,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadRevisions": false,
            "canRemoveChildren": true,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
           },
           "viewersCanCopyContent": true,
           "copyRequiresWriterPermission": false,
           "writersCanShare": true,
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "anyoneWithLink",
             "type": "anyone",
             "role": "writer",
             "allowFileDiscovery": false
            },
            {
             "kind": "drive#permission",
             "id": "09109446299227804908",
             "type": "user",
             "emailAddress": "trackdown.rpackage@gmail.com",
             "role": "owner",
             "displayName": "trackdown rpackage",
             "deleted": false
            }
           ],
           "permissionIds": [
            "anyoneWithLink",
            "09109446299227804908"
           ],
           "folderColorRgb": "#8f8f8f",
           "quotaBytesUsed": "0",
           "isAppAuthorized": true
          },
          {
           "kind": "drive#file",
           "id": "1sxM4x4LrBz3dyK1Ghk3xO4YfKVAYbtNG",
           "name": "trackdown",
           "mimeType": "application/vnd.google-apps.folder",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0APbXnIs35pMSUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "22",
           "webViewLink": "https://[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/root?supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%270APbXnIs35pMSUk9PVA%27%20in%20parents%29%20and%20%28mimeType%20%3D%20%27application%2Fvnd.google-apps.folder%27%29%20and%20%28name%20%3D%20%27reading_folder%27%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      [...]
