http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%270APbXnIs35pMSUk9PVA%27%20in%20parents%29%20and%20%28name%20%3D%20%27Hello-World%27%29%20and%20%28trashed%20%3D%20false%29&supportsAllDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag",
           "name": "Hello-World",
           "mimeType": "application/vnd.google-apps.document",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0APbXnIs35pMSUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "7",
           "webViewLink": "https://docs.google.com/document/d/1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag/edit?usp=drivesdk",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
           "hasThumbnail": true,
           "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag&v=3&s=AMedNnoAAAAAYOhxO_JUFbMF7qXXuP_acg1MLcfiEQjJ&sz=s220",
           "thumbnailVersion": "3",
           "viewedByMe": true,
           "viewedByMeTime": "2021-03-10T09:02:59.300Z",
           "createdTime": "2021-03-10T09:02:49.123Z",
           "modifiedTime": "2021-03-10T09:02:59.300Z",
           "modifiedByMeTime": "2021-03-10T09:02:59.300Z",
           "modifiedByMe": true,
           "owners": [
            {
             "kind": "drive#user",
             "displayName": "trackdown rpackage",
             "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
             "me": true,
             "permissionId": "09109446299227804908",
             "emailAddress": "trackdown.rpackage@gmail.com"
            }
           ],
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "trackdown rpackage",
            "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
            "me": true,
            "permissionId": "09109446299227804908",
            "emailAddress": "trackdown.rpackage@gmail.com"
           },
           "shared": false,
           "ownedByMe": true,
           "capabilities": {
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDownload": true,
            "canEdit": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
           },
           "viewersCanCopyContent": true,
           "copyRequiresWriterPermission": false,
           "writersCanShare": true,
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "09109446299227804908",
             "type": "user",
             "emailAddress": "trackdown.rpackage@gmail.com",
             "role": "owner",
             "displayName": "trackdown rpackage",
             "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
             "deleted": false
            }
           ],
           "permissionIds": [
            "09109446299227804908"
           ],
           "quotaBytesUsed": "0",
           "isAppAuthorized": false,
           "exportLinks": {
            "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag&exportFormat=rtf",
            "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag&exportFormat=odt",
            "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag&exportFormat=html",
            "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag&exportFormat=pdf",
            "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag&exportFormat=epub",
            "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag&exportFormat=zip",
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag&exportFormat=docx",
            "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1wawg2T1bCeRTkYlrdoqbIXj59ASB_x2NZXz903yCCag&exportFormat=txt"
           },
           "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
           }
          }
         ]
        }
  recorded_at: 2021-07-09 13:54:35 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
