http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%270APbXnIs35pMSUk9PVA%27%20in%20parents%29%20and%20%28mimeType%20%3D%20%27application%2Fvnd.google-apps.folder%27%29%20and%20%28name%20%3D%20%27reading_folder%27%29%20and%20%28trashed%20%3D%20false%29&supportsAllDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1Ow7GM1dLfu31eygq9Dc8tG6b5IMdD2mr",
           "name": "reading_folder",
           "mimeType": "application/vnd.google-apps.folder",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0APbXnIs35pMSUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "37",
           "webViewLink": "https://drive.google.com/drive/folders/1Ow7GM1dLfu31eygq9Dc8tG6b5IMdD2mr",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder",
           "hasThumbnail": false,
           "thumbnailVersion": "0",
           "viewedByMe": true,
           "viewedByMeTime": "2021-06-21T15:25:28.078Z",
           "createdTime": "2021-03-10T08:03:32.695Z",
           "modifiedTime": "2021-03-10T08:03:32.695Z",
           "modifiedByMeTime": "2021-03-10T08:03:32.695Z",
           "modifiedByMe": true,
           "owners": [
            {
             "kind": "drive#user",
             "displayName": "trackdown rpackage",
             "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
             "me": true,
             "permissionId": "09109446299227804908",
             "emailAddress": "trackdown.rpackage@gmail.com"
            }
           ],
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "trackdown rpackage",
            "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
            "me": true,
            "permissionId": "09109446299227804908",
            "emailAddress": "trackdown.rpackage@gmail.com"
           },
           "shared": false,
           "ownedByMe": true,
           "capabilities": {
            "canAddChildren": true,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": true,
            "canCopy": false,
            "canDelete": true,
            "canDownload": true,
            "canEdit": true,
            "canListChildren": true,
            "canModifyContent": true,
            "canMoveChildrenWithinDrive": true,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadRevisions": false,
            "canRemoveChildren": true,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
           },
           "viewersCanCopyContent": true,
           "copyRequiresWriterPermission": false,
           "writersCanShare": true,
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "09109446299227804908",
             "type": "user",
             "emailAddress": "trackdown.rpackage@gmail.com",
             "role": "owner",
             "displayName": "trackdown rpackage",
             "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
             "deleted": false
            }
           ],
           "permissionIds": [
            "09109446299227804908"
           ],
           "folderColorRgb": "#8f8f8f",
           "quotaBytesUsed": "0",
           "isAppAuthorized": false,
           "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
           }
          }
         ]
        }
  recorded_at: 2021-07-09 14:43:12 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%271Ow7GM1dLfu31eygq9Dc8tG6b5IMdD2mr%27%20in%20parents%29%20and%20%28name%20%3D%20%27rmd_example_1%27%29%20and%20%28trashed%20%3D%20false%29&supportsAllDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1UjZz7gLYOFPK7dIxe2XClabYgXqSZ10WN5q5niF5jb8",
           "name": "rmd_example_1",
           "mimeType": "application/vnd.google-apps.document",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "1Ow7GM1dLfu31eygq9Dc8tG6b5IMdD2mr"
           ],
           "spaces": [
            "drive"
           ],
           "version": "15",
           "webContentLink": "https://drive.google.com/uc?id=1UjZz7gLYOFPK7dIxe2XClabYgXqSZ10WN5q5niF5jb8&export=download",
           "webViewLink": "https://docs.google.com/document/d/1UjZz7gLYOFPK7dIxe2XClabYgXqSZ10WN5q5niF5jb8/edit?usp=drivesdk",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
           "hasThumbnail": true,
           "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1UjZz7gLYOFPK7dIxe2XClabYgXqSZ10WN5q5niF5jb8&v=5&s=AMedNnoAAAAAYOh8oPPyhj3YTuwwzMvvFHHZXtEpdoPq&sz=s220",
           "thumbnailVersion": "5",
           "viewedByMe": true,
           "viewedByMeTime": "2021-06-21T15:24:17.245Z",
           "createdTime": "2021-04-11T17:12:24.338Z",
           "modifiedTime": "2021-06-21T15:24:17.245Z",
           "modifiedByMeTime": "2021-06-21T15:24:17.245Z",
           "modifiedByMe": true,
           "owners": [
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1UjZz7gLYOFPK7dIxe2XClabYgXqSZ10WN5q5niF5jb8/export?mimeType=text%2Fplain
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment
      content-type: text/plain
    body:
      encoding: UTF-8
      file: yes
      string: ../vcr_files/.temp-unchanged_example_1.txt
  recorded_at: 2021-07-09 14:43:12 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
