http_interactions:
- request:
    method: post
    uri: https://docs.googleapis.com/v1/documents/1Whlu-u_c9r3SmanIT-H90QHvfqe7GpQv8YTFqkJBueA:batchUpdate
    body:
      encoding: ''
      string: '{"requests":[{"updateTextStyle":{"range":{"startIndex":1,"endIndex":588},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":589,"endIndex":608},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":610,"endIndex":625},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":2199,"endIndex":2213},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"[...]
