http_interactions:
- request:
    method: post
    uri: https://docs.googleapis.com/v1/documents/1Tyvo-CtnmRa3LF5vxfjwTPN1SWobE8oDc15omGkKHYE:batchUpdate
    body:
      encoding: ''
      string: '{"requests":[{"updateTextStyle":{"range":{"startIndex":1,"endIndex":585},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":586,"endIndex":605},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":1554,"endIndex":1568},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":1637,"endIndex":1655},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"[...]
