http_interactions:
- request:
    method: post
    uri: https://docs.googleapis.com/v1/documents/1HfHnL4ccBjG_4cF3XMg0krmR039GJBJQXkVdvMkNgiA:batchUpdate
    body:
      encoding: ''
      string: '{"requests":[{"updateTextStyle":{"range":{"startIndex":1,"endIndex":504},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":0.4,"green":0.8,"blue":1}}}},"fields":"*"}}]}'
    headers:
      Content-Type: application/json
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "replies": [
            {}
          ],
          "writeControl": {
            "requiredRevisionId": "ALm37BVAXWn0q4BY-o51__Cc34lQzMxLmZ6vxoiFkVJm3T75iP41NnBkZMGYMh4A2f2d4j4SjkShvX777chjgdE"
          },
          "documentId": "1HfHnL4ccBjG_4cF3XMg0krmR039GJBJQXkVdvMkNgiA"
        }
  recorded_at: 2022-03-03 16:41:49 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
