http_interactions:
- request:
    method: post
    uri: https://docs.googleapis.com/v1/documents/14vZunKODTzGtko9u3Y_aWxLYRlDmifCQgQYUDc61q_s:batchUpdate
    body:
      encoding: ''
      string: '{"requests":[{"updateTextStyle":{"range":{"startIndex":1,"endIndex":500},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":535,"endIndex":1242},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":1086,"endIndex":1148},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":2191,"endIndex":2227},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":[...]
