http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/root?supportsAllDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: ''
      file: no
      string: |
        {
          "kind": "drive#file",
          "id": "0APbdQMofmpmkUk9PVA",
          "name": "My Drive",
          "mimeType": "application/vnd.google-apps.folder",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "spaces": [
            "drive"
          ],
          "version": "1",
          "webViewLink": "https://drive.google.com/drive/folders/0APbdQMofmpmkUk9PVA",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2022-03-01T14:07:22.507Z",
          "modifiedTime": "2022-03-01T14:07:22.507Z",
          "modifiedByMe": false,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "trackdown tests",
              "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
              "me": true,
              "permissionId": "07198277475976122843",
              "emailAddress": "trackdown.tests@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "trackdown tests",
            "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
            "me": true,
            "permissionId": "07198277475976122843",
            "emailAddress": "trackdown.tests@gmail.com"
          },
          "shared": false,
          "ownedByMe": true,
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": true,
            "canAddMyDriveParent": true,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": true,
            "canCopy": false,
            "canDelete": true,
            "canDownload": true,
            "canEdit": true,
            "canListChildren": true,
            "canModifyContent": true,
            "canModifyContentRestriction": false,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": true,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": false,
            "canRemoveChildren": true,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "07198277475976122843",
              "type": "user",
              "emailAddress": "trackdown.tests@gmail.com",
              "role": "owner",
              "displayName": "trackdown tests",
              "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "07198277475976122843"
          ],
          "folderColorRgb": "#8f8f8f",
          "quotaBytesUsed": "0",
          "isAppAuthorized": false,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          }
        }
  recorded_at: 2023-05-28 19:32:46 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%270APbdQMofmpmkUk9PVA%27%20in%20parents%29%20and%20%28mimeType%20%3D%20%27application%2Fvnd.google-apps.folder%27%29%20and%20%28name%20%3D%20%27unit_tests%27%29%20and%20%28trashed%20%3D%20false%29&supportsAllDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: ''
      file: no
      string: |
        {
          "kind": "drive#fileList",
          "incompleteSearch": false,
          "files": [
            {
              "kind": "drive#file",
              "copyRequiresWriterPermission": false,
              "writersCanShare": true,
              "viewedByMe": true,
              "mimeType": "application/vnd.google-apps.folder",
              "parents": [
                "0APbdQMofmpmkUk9PVA"
              ],
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder",
              "shared": false,
              "lastModifyingUser": {
                "displayName": "trackdown tests",
                "kind": "drive#user",
                "me": true,
                "permissionId": "07198277475976122843",
                "emailAddress": "trackdown.tests@gmail.com",
                "photo[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%271VGvn3RXEPPjf_vDnnax7ueeZ2OWxOgAZ%27%20in%20parents%29%20and%20%28mimeType%20%3D%20%27application%2Fvnd.google-apps.folder%27%29%20and%20%28name%20%3D%20%27files_manager%27%29%20and%20%28trashed%20%3D%20false%29&supportsAllDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%271v1pnejIiMWL9IULmk0zC1QWY0SdoEmlH%27%20in%20parents%29%20and%20%28name%20%3D%20%27qmd-example-1-update%27%29%20and%20%28trashed%20%3D%20false%29&supportsAllDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: ''
      file: no
      string: |
        {
          "kind": "drive#fileList",
          "incompleteSearch": false,
          "files": [
            {
              "kind": "drive#file",
              "copyRequiresWriterPermission": false,
              "writersCanShare": true,
              "viewedByMe": true,
              "mimeType": "application/vnd.google-apps.document",
              "exportLinks": {
                "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1n2VwUOnbJBqRZWMotxHLZK8Buhv4VYp8JIscGV2yuu4&exportFormat=rtf",
                "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1n2VwUOnbJBqRZWMotxHLZK8Buhv4VYp8JIscGV2yuu4&exportFormat=odt",
                "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1n2VwUOnbJBqRZWMotxHLZK8Buhv4VYp8JIscGV2yuu4&[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1n2VwUOnbJBqRZWMotxHLZK8Buhv4VYp8JIscGV2yuu4?supportsAllDrives=TRUE&fields=%2A&uploadType=multipart
    body:
      encoding: ''
      string: metadata=list(path = "/private/var/folders/y5/btw5zzhj5jsb6cmlv7x4_q7h0000gp/T/RtmpWyajSf/drive-update-meta9c4d696bb69f.json",
        type = "application/json; charset=UTF-8"),media=list(path = "/Users/claudio/Dottorato/Pacchetti/trackdown/tests/testthat/test_files/files_manager/.temp-example-1.txt",
        type = "text/plain")
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: ''
      file: no
      string: |
        {
          "kind": "drive#file",
          "id": "1n2VwUOnbJBqRZWMotxHLZK8Buhv4VYp8JIscGV2yuu4",
          "name": "qmd-example-1-update",
          "mimeType": "application/vnd.google-apps.document",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1v1pnejIiMWL9IULmk0zC1QWY0SdoEmlH"
          ],
          "spaces": [
            "drive"
          ],
          "version": "12",
          "webContentLink": "https://drive.google.com/uc?id=1n2VwUOnbJBqRZWMotxHLZK8Buhv4VYp8JIscGV2yuu4&export=download",
          "webViewLink": "https://docs.google.com/document/d/1n2VwUOnbJBqRZWMotxHLZK8Buhv4VYp8JIscGV2yuu4/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "hasThumbnail": true,
          "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1n2VwUOnbJBqRZWMotxHLZK8Buhv4VYp8JIscGV2yuu4&v=4&s=AMedNnoAAAAAZHPIfkpVFknDeKekILWo3tr09bkH6Df-&sz=s220",
          "thumbnailVersion": "4",
          "viewedByMe": true,
          "viewedByMeTime": "2023-01-05T18:37:19.419Z",
          "createdTime": "2023-01-05T18:15:25.096Z",
          "modifiedTime": "2023-05-28T19:32:45.377Z",
          "modifiedByMeTime": "2023-05-28T19:32:45.377Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "trackdown tests",
              "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
              "me": true,
              "permissionId": "07198277475976122843",
              "emailAddress": "trackdown.tests@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
    [...]
