http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%27root%27%20in%20parents%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb",
           "name": "writing_folder",
           "mimeType": "application/vnd.google-apps.folder",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0APbXnIs35pMSUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "11",
           "webViewLink": "https://drive.google.com/drive/folders/1CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder",
           "hasThumbnail": false,
           "thumbnailVersion": "0",
           "viewedByMe": true,
           "viewedByMeTime": "2021-03-31T08:16:51.255Z",
           "createdTime": "2021-03-10T08:02:58.655Z",
           "modifiedTime": "2021-03-10T08:02:58.655Z",
           "modifiedByMeTime": "2021-03-10T08:02:58.655Z",
           "modifiedByMe": true,
           "owners": [
            {
             "kind": "drive#user",
             "displayName": "trackdown rpackage",
             "me": true,
             "permissionId": "09109446299227804908",
             "emailAddress": "trackdown.rpackage@gmail.com"
            }
           ],
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "trackdown rpackage",
            "me": true,
            "permissionId": "09109446299227804908",
            "emailAddress": "trackdown.rpackage@gmail.com"
           },
           "shared": false,
           "ownedByMe": true,
           "capabilities": {
            "canAddChildren": true,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": true,
            "canCopy": false,
            "canDelete": true,
            "canDownload": true,
            "canEdit": true,
            "canListChildren": true,
            "canModifyContent": true,
            "canMoveChildrenWithinDrive": true,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadRevisions": false,
            "canRemoveChildren": true,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
           },
           "viewersCanCopyContent": true,
           "copyRequiresWriterPermission": false,
           "writersCanShare": true,
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "09109446299227804908",
             "type": "user",
             "emailAddress": "trackdown.rpackage@gmail.com",
             "role": "owner",
             "displayName": "trackdown rpackage",
             "deleted": false
            }
           ],
           "permissionIds": [
            "09109446299227804908"
           ],
           "folderColorRgb": "#8f8f8f",
           "quotaBytesUsed": "0",
           "isAppAuthorized": false
          },
          {
           "kind": "drive#file",
           "id": "1Ow7GM1dLfu31eygq9Dc8tG6b5IMdD2mr",
           "name": "reading_folder",
           "mimeType": "application/vnd.google-apps.folder",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0APbXnIs35pMSUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "29",
           "webViewLink": "ht[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0APbXnIs35pMSUk9PVA?supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
  [...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%270APbXnIs35pMSUk9PVA%27%20in%20parents%29%20and%20%28mimeType%20%3D%20%27application%2Fvnd.google-apps.folder%27%29%20and%20%28name%20%3D%20%27writing_folder%27%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      [...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%271CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb%27%20in%20parents%29%20and%20%28name%20%3D%20%27update_example_2%27%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1l7nH0Encj-SeJIzzJzDuaK-cnyvgxyqI7xX3Tppx04k",
           "name": "update_example_2",
           "mimeType": "application/vnd.google-apps.document",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "1CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb"
           ],
           "spaces": [
            "drive"
           ],
           "version": "19",
           "webContentLink": "https://drive.google.com/uc?id=1l7nH0Encj-SeJIzzJzDuaK-cnyvgxyqI7xX3Tppx04k&export=download",
           "webViewLink": "https://docs.google.com/document/d/1l7nH0Encj-SeJIzzJzDuaK-cnyvgxyqI7xX3Tppx04k/edit?usp=drivesdk",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
           "hasThumbnail": true,
           "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1l7nH0Encj-SeJIzzJzDuaK-cnyvgxyqI7xX3Tppx04k&v=3&s=AMedNnoAAAAAYGRTZfM4QRG8Do37Calh0YDzzuuG4Shv&sz=s220",
           "thumbnailVersion": "3",
           "viewedByMe": true,
           "viewedByMeTime": "2021-03-31T08:44:11.695Z",
           "createdTime": "2021-03-31T08:33:06.273Z",
           "modifiedTime": "2021-03-31T08:44:11.695Z",
           "modifiedByMeTime": "2021-03-31T08:44:11.695Z",
           "modifiedByMe": true,
           "owners": [
[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%271CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb%27%20in%20parents%29%20and%20%28name%20%3D%20%27update_example_2-output%27%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": []
        }
  recorded_at: 2021-03-31 08:48:11 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1l7nH0Encj-SeJIzzJzDuaK-cnyvgxyqI7xX3Tppx04k?supportsTeamDrives=TRUE&fields=%2A&uploadType=multipart
    body:
      encoding: ''
      string: metadata=list(path = "/private/var/folders/y5/btw5zzhj5jsb6cmlv7x4_q7h0000gp/T/RtmplCP2hA/file34143108bd86",
        type = "application/json; charset=UTF-8"),media=list(path = "/Users/claudio/Dottorato/Pacchetti/trackdown/tests/testthat/test_files/.temp-example_1.txt"[...]
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files?supportsTeamDrives=TRUE&fields=%2A&uploadType=multipart
    body:
      encoding: ''
      string: metadata=list(path = "/private/var/folders/y5/btw5zzhj5jsb6cmlv7x4_q7h0000gp/T/RtmplCP2hA/file341434d2c190",
        type = "application/json; charset=UTF-8"),media=list(path = "/Users/claudio/Dottorato/Pacchetti/trackdown/tests/testthat/test_files/example_1.pdf",
        type = "application/pdf")
    headers:
   [...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/12-GyaLUVWpoartrCDvSSAj8dkXf28sV-?supportsTeamDrives=TRUE
    body:
      encoding: ''
      string: '{}'
    headers:
      Content-Type: application/json
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 204
      category: Success
      reason: No Content
      message: 'Success: (204) No Content'
    headers:
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-03-31 08:48:11 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
