http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1rDjs8ch2IiPSL8FrvlWit18YEQwfthDa?supportsAllDrives=TRUE&fields=%2A&uploadType=multipart
    body:
      encoding: ''
      string: metadata=list(path = "/private/var/folders/y5/btw5zzhj5jsb6cmlv7x4_q7h0000gp/T/Rtmp9Vo2Mz/drive-update-meta12e013d28bbd5.json",
        type = "application/json; charset=UTF-8"),media=list(path = "/Users/claudio/Dottorato/Pacchetti/trackdown/tests/testthat/test_files/utils_manager/temp-output-example-2.pdf",
        type = "application/pdf")
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#file",
         "id": "1rDjs8ch2IiPSL8FrvlWit18YEQwfthDa",
         "name": "old-example-2-output",
         "mimeType": "application/pdf",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "parents": [
          "1ggoy9t7-5VQr_Spz4BzFm59tPtXzIWtg"
         ],
         "spaces": [
          "drive"
         ],
         "version": "7",
         "webContentLink": "https://drive.google.com/uc?id=1rDjs8ch2IiPSL8FrvlWit18YEQwfthDa&export=download",
         "webViewLink": "https://drive.google.com/file/d/1rDjs8ch2IiPSL8FrvlWit18YEQwfthDa/view?usp=drivesdk",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
         "hasThumbnail": true,
         "thumbnailLink": "https://lh3.googleusercontent.com/5wyXtykG4ZWMJ5egO3D8fe_1LlRIVRez3IY-jLDt0c9oHYe8cPSO9UDWvgw93OCVulG4lSf8WeDDu_8=s220",
         "thumbnailVersion": "6",
         "viewedByMe": false,
         "createdTime": "2021-11-29T17:07:04.411Z",
         "modifiedTime": "2021-11-29T17:15:32.925Z",
         "modifiedByMeTime": "2021-11-29T17:15:32.925Z",
         "modifiedByMe": true,
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "trackdown rpackage",
           "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
           "me": true,
           "permissionId": "09109446299227804908",
           "emailAddress": "trackdown.rpackage@gmail.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "trackdown rpackage",
          "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
          "me": true,
          "permissionId": "09109446299227804908",
          "emailAddress": "trackdown.rpackage@gmail.com"
         },
         "shared": false,
         "ownedByMe": true,
         "capabilities": {
          "canAcceptOwnership": false,
          "canAddChildren": false,
          "canAddMyDriveParent": false,
          "canChangeCopyRequiresWriterPermission": true,
          "canChangeSecurityUpdateEnabled": false,
          "canChangeViewersCanCopyContent": true,
          "canComment": true,
          "canCopy": true,
          "canDelete": true,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": false,
          "canModifyContent": true,
          "canMoveChildrenWithinDrive": false,
          "canMoveItemIntoTeamDrive": true,
          "canMoveItemOutOfDrive": true,
          "canMoveItemWithinDrive": true,
          "canReadRevisions": true,
          "canRemoveChildren": false,
          "canRemoveMyDriveParent": true,
          "canRename": true,
          "canShare": true,
          "canTrash": true,
          "canUntrash": true
         },
         "viewersCanCopyContent": true,
         "copyRequiresWriterPermission": false,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "09109446299227804908",
           "type": "user",
           "emailAddress": "trackdown.rpackage@gmail.com",
           "role": "owner",
           "displayName": "trackdown rpackage",
           "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
           "deleted": false,
           "pendingOwner": false
          }
         ],
         "permissionIds": [
          "09109446299227804908"
         ],
         "originalFilename": "temp-output-example-2.pdf",
         "fullFileExtension": "pdf",
         "fileExtension": "",
         "md5Checksum": "6f509672aad500d2ac3369870680ce5f",
         "size": "83546",
         "quotaBytesUsed": "83546",
         "headRevisionId": "0B_bXnIs35pMSVmRSOXBMZGlNengveDZvaStRMFB6UW5STzRNPQ",
         "isAppAuthorized": true,
         "linkShareMetadata": {
          "securityUpdateEligible": false,
          "securityUpdateEnabled": true
         }
        }
  recorded_at: 2021-11-29 17:15:33 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
