http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1_G3Hlj_5icRjvaZp7PRBKt35pFFU2Ayo?supportsTeamDrives=TRUE&fields=%2A&uploadType=multipart
    body:
      encoding: ''
      string: metadata=list(path = "/private/var/folders/y5/btw5zzhj5jsb6cmlv7x4_q7h0000gp/T/Rtmp6STsxb/file9884478fe50",
        type = "application/json; charset=UTF-8"),media=list(path = "/Users/claudio/Dottorato/Pacchetti/trackdown/tests/testthat/test_files/temp-output-example_1.pdf",
        type = "application/pdf")
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#file",
         "id": "1_G3Hlj_5icRjvaZp7PRBKt35pFFU2Ayo",
         "name": "old_output",
         "mimeType": "application/pdf",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "parents": [
          "1CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb"
         ],
         "spaces": [
          "drive"
         ],
         "version": "11",
         "webContentLink": "https://drive.google.com/uc?id=1_G3Hlj_5icRjvaZp7PRBKt35pFFU2Ayo&export=download",
         "webViewLink": "https://drive.google.com/file/d/1_G3Hlj_5icRjvaZp7PRBKt35pFFU2Ayo/view?usp=drivesdk",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
         "hasThumbnail": true,
         "thumbnailLink": "https://lh3.googleusercontent.com/lkN2J9Nou8BNXohyExGrflsGI0B9_TrRp3iYLMEkSI6Q71vCmwiToQDGXosv-iJh3CR2l9_45gH3VSk=s220",
         "thumbnailVersion": "10",
         "viewedByMe": false,
         "createdTime": "2021-03-30T14:53:18.163Z",
         "modifiedTime": "2021-04-29T14:35:07.918Z",
         "modifiedByMeTime": "2021-04-29T14:35:07.918Z",
         "modifiedByMe": true,
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "trackdown rpackage",
           "me": true,
           "permissionId": "09109446299227804908",
           "emailAddress": "trackdown.rpackage@gmail.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "trackdown rpackage",
          "me": true,
          "permissionId": "09109446299227804908",
          "emailAddress": "trackdown.rpackage@gmail.com"
         },
         "shared": false,
         "ownedByMe": true,
         "capabilities": {
          "canAddChildren": false,
          "canAddMyDriveParent": false,
          "canChangeCopyRequiresWriterPermission": true,
          "canChangeViewersCanCopyContent": true,
          "canComment": true,
          "canCopy": true,
          "canDelete": true,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": false,
          "canModifyContent": true,
          "canMoveChildrenWithinDrive": false,
          "canMoveItemIntoTeamDrive": true,
          "canMoveItemOutOfDrive": true,
          "canMoveItemWithinDrive": true,
          "canReadRevisions": true,
          "canRemoveChildren": false,
          "canRemoveMyDriveParent": true,
          "canRename": true,
          "canShare": true,
          "canTrash": true,
          "canUntrash": true
         },
         "viewersCanCopyContent": true,
         "copyRequiresWriterPermission": false,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "09109446299227804908",
           "type": "user",
           "emailAddress": "trackdown.rpackage@gmail.com",
           "role": "owner",
           "displayName": "trackdown rpackage",
           "deleted": false
          }
         ],
         "permissionIds": [
          "09109446299227804908"
         ],
         "originalFilename": "temp-output-example_1.pdf",
         "fullFileExtension": "pdf",
         "fileExtension": "",
         "md5Checksum": "961c0ac20944fa65537440bf10c17feb",
         "size": "146065",
         "quotaBytesUsed": "146065",
         "headRevisionId": "0B_bXnIs35pMSSDJtd3VYc244azk1Y3JRb2p2RDM1NEEwbnlvPQ",
         "isAppAuthorized": true
        }
  recorded_at: 2021-04-29 14:35:08 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
