http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files?supportsAllDrives=TRUE&fields=%2A&uploadType=multipart
    body:
      encoding: ''
      string: metadata=list(path = "/private/var/folders/y5/btw5zzhj5jsb6cmlv7x4_q7h0000gp/T/RtmpMIVWB3/drive-upload-metaf1be5eea7fd3.json",
        type = "application/json; charset=UTF-8"),media=list(path = "/Users/claudio/Dottorato/Pacchetti/trackdown/tests/testthat/test_files/utils_manager/example-2.html",
        type = "text/html")
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#file",
         "id": "1xtS_2ZTSGlZ9LmYk-wvnjxpfg6qn70md",
         "name": "new-output",
         "mimeType": "text/html",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "parents": [
          "1fPMaNeiJv9JumpYKl40-lfq0B9Ju_pZx"
         ],
         "spaces": [
          "drive"
         ],
         "version": "1",
         "webContentLink": "https://drive.google.com/uc?id=1xtS_2ZTSGlZ9LmYk-wvnjxpfg6qn70md&export=download",
         "webViewLink": "https://drive.google.com/file/d/1xtS_2ZTSGlZ9LmYk-wvnjxpfg6qn70md/view?usp=drivesdk",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/text/html",
         "hasThumbnail": false,
         "thumbnailVersion": "0",
         "viewedByMe": false,
         "createdTime": "2022-03-01T15:01:41.749Z",
         "modifiedTime": "2022-03-01T15:01:41.749Z",
         "modifiedByMeTime": "2022-03-01T15:01:41.749Z",
         "modifiedByMe": true,
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "trackdown tests",
           "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
           "me": true,
           "permissionId": "07198277475976122843",
           "emailAddress": "trackdown.tests@gmail.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "trackdown tests",
          "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
          "me": true,
          "permissionId": "07198277475976122843",
          "emailAddress": "trackdown.tests@gmail.com"
         },
         "shared": false,
         "ownedByMe": true,
         "capabilities": {
          "canAcceptOwnership": false,
          "canAddChildren": false,
          "canAddMyDriveParent": false,
          "canChangeCopyRequiresWriterPermission": true,
          "canChangeSecurityUpdateEnabled": false,
          "canChangeViewersCanCopyContent": true,
          "canComment": true,
          "canCopy": true,
          "canDelete": true,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": false,
          "canModifyContent": true,
          "canMoveChildrenWithinDrive": false,
          "canMoveItemIntoTeamDrive": true,
          "canMoveItemOutOfDrive": true,
          "canMoveItemWithinDrive": true,
          "canReadRevisions": true,
          "canRemoveChildren": false,
          "canRemoveMyDriveParent": true,
          "canRename": true,
          "canShare": true,
          "canTrash": true,
          "canUntrash": true
         },
         "viewersCanCopyContent": true,
         "copyRequiresWriterPermission": false,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "07198277475976122843",
           "type": "user",
           "emailAddress": "trackdown.tests@gmail.com",
           "role": "owner",
           "displayName": "trackdown tests",
           "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
           "deleted": false,
           "pendingOwner": false
          }
         ],
         "permissionIds": [
          "07198277475976122843"
         ],
         "originalFilename": "example-2.html",
         "fullFileExtension": "html",
         "fileExtension": "",
         "md5Checksum": "c6e9113bcd8c189d84869bc5cda2c683",
         "size": "822251",
         "quotaBytesUsed": "822251",
         "headRevisionId": "0B_bdQMofmpmkaWRaRFlLYUxERXZtZ2NzMDMzblpHS25MdVFrPQ",
         "isAppAuthorized": true,
         "linkShareMetadata": {
          "securityUpdateEligible": false,
          "securityUpdateEnabled": true
         }
        }
  recorded_at: 2022-03-01 15:01:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1xtS_2ZTSGlZ9LmYk-wvnjxpfg6qn70md?supportsAllDrives=TRUE
    body:
      encoding: ''
      string: '{}'
    headers:
      Content-Type: application/json
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 204
      category: Success
      reason: No Content
      message: 'Success: (204) No Content'
    headers:
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2022-03-01 15:01:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
