http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files?supportsTeamDrives=TRUE&fields=%2A&uploadType=multipart
    body:
      encoding: ''
      string: metadata=list(path = "/private/var/folders/y5/btw5zzhj5jsb6cmlv7x4_q7h0000gp/T/Rtmpk9afs0/filee67431ebd693",
        type = "application/json; charset=UTF-8"),media=list(path = "/Users/claudio/Dottorato/Pacchetti/trackdown/tests/testthat/test_files/.temp-example_1.txt",
        type = "text/plain")
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#file",
         "id": "1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0",
         "name": "new_example_1",
         "mimeType": "application/vnd.google-apps.document",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "parents": [
          "1CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb"
         ],
         "spaces": [
          "drive"
         ],
         "version": "4",
         "webContentLink": "https://drive.google.com/uc?id=1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0&export=download",
         "webViewLink": "https://docs.google.com/document/d/1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0/edit?usp=drivesdk",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
         "hasThumbnail": false,
         "thumbnailVersion": "0",
         "viewedByMe": true,
         "viewedByMeTime": "2021-06-21T14:45:10.726Z",
         "createdTime": "2021-06-21T14:45:08.039Z",
         "modifiedTime": "2021-06-21T14:45:08.146Z",
         "modifiedByMeTime": "2021-06-21T14:45:08.146Z",
         "modifiedByMe": true,
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "trackdown rpackage",
           "me": true,
           "permissionId": "09109446299227804908",
           "emailAddress": "trackdown.rpackage@gmail.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "trackdown rpackage",
          "me": true,
          "permissionId": "09109446299227804908",
          "emailAddress": "trackdown.rpackage@gmail.com"
         },
         "shared": false,
         "ownedByMe": true,
         "capabilities": {
          "canAddChildren": false,
          "canAddMyDriveParent": false,
          "canChangeCopyRequiresWriterPermission": true,
          "canChangeViewersCanCopyContent": true,
          "canComment": true,
          "canCopy": true,
          "canDelete": true,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": false,
          "canModifyContent": true,
          "canMoveChildrenWithinDrive": false,
          "canMoveItemIntoTeamDrive": true,
          "canMoveItemOutOfDrive": true,
          "canMoveItemWithinDrive": true,
          "canReadRevisions": true,
          "canRemoveChildren": false,
          "canRemoveMyDriveParent": true,
          "canRename": true,
          "canShare": true,
          "canTrash": true,
          "canUntrash": true
         },
         "viewersCanCopyContent": true,
         "copyRequiresWriterPermission": false,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "09109446299227804908",
           "type": "user",
           "emailAddress": "trackdown.rpackage@gmail.com",
           "role": "owner",
           "displayName": "trackdown rpackage",
           "deleted": false
          }
         ],
         "permissionIds": [
          "09109446299227804908"
         ],
         "quotaBytesUsed": "0",
         "isAppAuthorized": true,
         "exportLinks": {
          "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0&exportFormat=rtf",
          "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0&exportFormat=odt",
          "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0&exportFormat=html",
          "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0&exportFormat=pdf",
          "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0&exportFormat=epub",
          "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0&exportFormat=zip",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0&exportFormat=docx",
          "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0&exportFormat=txt"
         }
        }
  recorded_at: 2021-06-21 14:45:12 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1yV8xYubfg8JgQlQFTkNPRIWql_qi2ctZtajCFK8gjq0?supportsTeamDrives=TRUE
    body:
      encoding: ''
      string: '{}'
    headers:
      Content-Type: application/json
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 204
      category: Success
      reason: No Content
      message: 'Success: (204) No Content'
    headers:
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-06-21 14:45:12 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
