http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE?supportsAllDrives=TRUE&fields=%2A&uploadType=multipart
    body:
      encoding: ''
      string: metadata=list(path = "/private/var/folders/y5/btw5zzhj5jsb6cmlv7x4_q7h0000gp/T/Rtmpp4UOn5/drive-update-meta1440a3dd52c42.json",
        type = "application/json; charset=UTF-8"),media=list(path = "/Users/claudio/Dottorato/Pacchetti/trackdown/tests/testthat/test_files/utils_manager/.temp-rmd-rich-text.txt",
        type = "text/plain")
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#file",
         "id": "1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE",
         "name": "rmd-rich-text",
         "mimeType": "application/vnd.google-apps.document",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "parents": [
          "1fPMaNeiJv9JumpYKl40-lfq0B9Ju_pZx"
         ],
         "spaces": [
          "drive"
         ],
         "version": "6",
         "webContentLink": "https://drive.google.com/uc?id=1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE&export=download",
         "webViewLink": "https://docs.google.com/document/d/1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE/edit?usp=drivesdk",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
         "hasThumbnail": true,
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE&v=1&s=AMedNnoAAAAAYiEZzwfF8CqRC8M7ETiGDYYzx9TZm-j9&sz=s220",
         "thumbnailVersion": "1",
         "viewedByMe": true,
         "viewedByMeTime": "2022-03-03T17:38:31.393Z",
         "createdTime": "2022-03-03T17:38:29.348Z",
         "modifiedTime": "2022-03-03T17:41:02.097Z",
         "modifiedByMeTime": "2022-03-03T17:41:02.097Z",
         "modifiedByMe": true,
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "trackdown tests",
           "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
           "me": true,
           "permissionId": "07198277475976122843",
           "emailAddress": "trackdown.tests@gmail.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "trackdown tests",
          "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
          "me": true,
          "permissionId": "07198277475976122843",
          "emailAddress": "trackdown.tests@gmail.com"
         },
         "shared": false,
         "ownedByMe": true,
         "capabilities": {
          "canAcceptOwnership": false,
          "canAddChildren": false,
          "canAddMyDriveParent": false,
          "canChangeCopyRequiresWriterPermission": true,
          "canChangeSecurityUpdateEnabled": false,
          "canChangeViewersCanCopyContent": true,
          "canComment": true,
          "canCopy": true,
          "canDelete": true,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": false,
          "canModifyContent": true,
          "canMoveChildrenWithinDrive": false,
          "canMoveItemIntoTeamDrive": true,
          "canMoveItemOutOfDrive": true,
          "canMoveItemWithinDrive": true,
          "canReadRevisions": true,
          "canRemoveChildren": false,
          "canRemoveMyDriveParent": true,
          "canRename": true,
          "canShare": true,
          "canTrash": true,
          "canUntrash": true
         },
         "viewersCanCopyContent": true,
         "copyRequiresWriterPermission": false,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "07198277475976122843",
           "type": "user",
           "emailAddress": "trackdown.tests@gmail.com",
           "role": "owner",
           "displayName": "trackdown tests",
           "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
           "deleted": false,
           "pendingOwner": false
          }
         ],
         "permissionIds": [
          "07198277475976122843"
         ],
         "size": "1024",
         "quotaBytesUsed": "1024",
         "isAppAuthorized": true,
         "exportLinks": {
          "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE&exportFormat=rtf",
          "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE&exportFormat=odt",
          "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE&exportFormat=html",
          "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE&exportFormat=pdf",
          "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE&exportFormat=epub",
          "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE&exportFormat=zip",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE&exportFormat=docx",
          "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE&exportFormat=txt"
         },
         "linkShareMetadata": {
          "securityUpdateEligible": false,
          "securityUpdateEnabled": true
         }
        }
  recorded_at: 2022-03-03 17:41:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://docs.googleapis.com/v1/documents/1ZSN8K4_ncx3kbHIPA5gttDLpbCZg51RYuZL4-3vrIuE:batchUpdate
    body:
      encoding: ''
      string: '{"requests":[{"updateTextStyle":{"range":{"startIndex":1,"endIndex":593},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":594,"endIndex":613},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":615,"endIndex":630},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"}},{"updateTextStyle":{"range":{"startIndex":2204,"endIndex":2218},"textStyle":{"backgroundColor":{"color":{"rgbColor":{"red":1,"green":0.8,"blue":0.4}}}},"fields":"*"[...]
