http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA?supportsAllDrives=TRUE&fields=%2A&uploadType=multipart
    body:
      encoding: ''
      string: metadata=list(path = "/private/var/folders/y5/btw5zzhj5jsb6cmlv7x4_q7h0000gp/T/Rtmp66FmSS/drive-update-meta180397d884490.json",
        type = "application/json; charset=UTF-8"),media=list(path = "/Users/claudio/Dottorato/Pacchetti/trackdown/tests/testthat/test_files/utils_manager/.temp-example-1.txt",
        type = "text/plain")
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#file",
         "id": "1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA",
         "name": "old-example-1",
         "mimeType": "application/vnd.google-apps.document",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "parents": [
          "1ggoy9t7-5VQr_Spz4BzFm59tPtXzIWtg"
         ],
         "spaces": [
          "drive"
         ],
         "version": "17",
         "webContentLink": "https://drive.google.com/uc?id=1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA&export=download",
         "webViewLink": "https://docs.google.com/document/d/1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA/edit?usp=drivesdk",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
         "hasThumbnail": true,
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA&v=3&s=AMedNnoAAAAAYgwhSltMjHwU5yCaPzu6SO_ysWrMgH44&sz=s220",
         "thumbnailVersion": "3",
         "viewedByMe": true,
         "viewedByMeTime": "2022-02-15T19:17:08.296Z",
         "createdTime": "2021-11-29T16:53:56.587Z",
         "modifiedTime": "2022-02-15T19:55:21.365Z",
         "modifiedByMeTime": "2022-02-15T19:55:21.365Z",
         "modifiedByMe": true,
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "trackdown rpackage",
           "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
           "me": true,
           "permissionId": "09109446299227804908",
           "emailAddress": "trackdown.rpackage@gmail.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "trackdown rpackage",
          "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
          "me": true,
          "permissionId": "09109446299227804908",
          "emailAddress": "trackdown.rpackage@gmail.com"
         },
         "shared": false,
         "ownedByMe": true,
         "capabilities": {
          "canAcceptOwnership": false,
          "canAddChildren": false,
          "canAddMyDriveParent": false,
          "canChangeCopyRequiresWriterPermission": true,
          "canChangeSecurityUpdateEnabled": false,
          "canChangeViewersCanCopyContent": true,
          "canComment": true,
          "canCopy": true,
          "canDelete": true,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": false,
          "canModifyContent": true,
          "canMoveChildrenWithinDrive": false,
          "canMoveItemIntoTeamDrive": true,
          "canMoveItemOutOfDrive": true,
          "canMoveItemWithinDrive": true,
          "canReadRevisions": true,
          "canRemoveChildren": false,
          "canRemoveMyDriveParent": true,
          "canRename": true,
          "canShare": true,
          "canTrash": true,
          "canUntrash": true
         },
         "viewersCanCopyContent": true,
         "copyRequiresWriterPermission": false,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "09109446299227804908",
           "type": "user",
           "emailAddress": "trackdown.rpackage@gmail.com",
           "role": "owner",
           "displayName": "trackdown rpackage",
           "photoLink": "https://lh3.googleusercontent.com/a-/AOh14Gg8g9gjcb-a1TO55XHd1r9YSgKruLe1rzCys3Gx=s64",
           "deleted": false,
           "pendingOwner": false
          }
         ],
         "permissionIds": [
          "09109446299227804908"
         ],
         "size": "1024",
         "quotaBytesUsed": "1024",
         "isAppAuthorized": true,
         "exportLinks": {
          "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA&exportFormat=rtf",
          "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA&exportFormat=odt",
          "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA&exportFormat=html",
          "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA&exportFormat=pdf",
          "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA&exportFormat=epub",
          "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA&exportFormat=zip",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA&exportFormat=docx",
          "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1Jor69T2g0O40vaLPtkc_5HaZB_E0FN3UMefVIVkPDGA&exportFormat=txt"
         },
         "linkShareMetadata": {
          "securityUpdateEligible": false,
          "securityUpdateEnabled": true
         }
        }
  recorded_at: 2022-02-15 19:55:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
