http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%27root%27%20in%20parents%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1sxM4x4LrBz3dyK1Ghk3xO4YfKVAYbtNG",
           "name": "trackdown",
           "mimeType": "application/vnd.google-apps.folder",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0APbXnIs35pMSUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "18",
           "webViewLink": "https://drive.google.com/drive/folders/1sxM4x4LrBz3dyK1Ghk3xO4YfKVAYbtNG",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder",
           "hasThumbnail": false,
           "thumbnailVersion": "0",
           "viewedByMe": true,
           "viewedByMeTime": "2021-04-27T07:59:13.486Z",
           "createdTime": "2021-03-30T08:10:27.528Z",
           "modifiedTime": "2021-03-30T08:10:27.528Z",
           "modifiedByMeTime": "2021-03-30T08:10:27.528Z",
           "modifiedByMe": true,
           "owners": [
            {
             "kind": "drive#user",
             "displayName": "trackdown rpackage",
             "me": true,
             "permissionId": "09109446299227804908",
             "emailAddress": "trackdown.rpackage@gmail.com"
            }
           ],
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "trackdown rpackage",
            "me": true,
            "permissionId": "09109446299227804908",
            "emailAddress": "trackdown.rpackage@gmail.com"
           },
           "shared": false,
           "ownedByMe": true,
           "capabilities": {
            "canAddChildren": true,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": true,
            "canCopy": false,
            "canDelete": true,
            "canDownload": true,
            "canEdit": true,
            "canListChildren": true,
            "canModifyContent": true,
            "canMoveChildrenWithinDrive": true,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadRevisions": false,
            "canRemoveChildren": true,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
           },
           "viewersCanCopyContent": true,
           "copyRequiresWriterPermission": false,
           "writersCanShare": true,
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "09109446299227804908",
             "type": "user",
             "emailAddress": "trackdown.rpackage@gmail.com",
             "role": "owner",
             "displayName": "trackdown rpackage",
             "deleted": false
            }
           ],
           "permissionIds": [
            "09109446299227804908"
           ],
           "folderColorRgb": "#8f8f8f",
           "quotaBytesUsed": "0",
           "isAppAuthorized": true
          },
          {
           "kind": "drive#file",
           "id": "1CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb",
           "name": "writing_folder",
           "mimeType": "application/vnd.google-apps.folder",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0APbXnIs35pMSUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "16",
           "webViewLink": "htt[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0APbXnIs35pMSUk9PVA?supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
  [...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%270APbXnIs35pMSUk9PVA%27%20in%20parents%29%20and%20%28mimeType%20%3D%20%27application%2Fvnd.google-apps.folder%27%29%20and%20%28name%20%3D%20%27writing_folder%27%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      [...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%271CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb%27%20in%20parents%29%20and%20%28name%20%3D%20%27example_1%27%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": []
        }
  recorded_at: 2021-04-29 14:34:00 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency%20desc&q=%28%271CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb%27%20in%20parents%29%20and%20%28name%20%3D%20%27example_1-output%27%29%20and%20%28trashed%20%3D%20false%29&supportsTeamDrives=TRUE&fields=%2A
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": []
        }
  recorded_at: 2021-04-29 14:34:00 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files?supportsTeamDrives=TRUE&fields=%2A&uploadType=multipart
    body:
      encoding: ''
      string: metadata=list(path = "/private/var/folders/y5/btw5zzhj5jsb6cmlv7x4_q7h0000gp/T/Rtmp6STsxb/file9883c9869a3",
        type = "application/json; charset=UTF-8"),media=list(path = "/Users/claudio/Dottorato/Pacchetti/trackdown/tests/testthat/test_files/.temp-example_1.txt",
        type = "text/plain")
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
         "kind": "drive#file",
         "id": "1Eo1yzciYYz5GyljlICYkN6uBqc5Q-BmHXO9Gla9aAzM",
         "name": "example_1",
         "mimeType": "application/vnd.google-apps.document",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "parents": [
          "1CB3g50fT5m1LHMl3-lPiuoKd7v3jeYgb"
         ],
         "spaces": [
          "drive"
         ],
         "version": "4",
         "webContentLink": "https://drive.google.com/uc?id=1Eo1yzciYYz5GyljlICYkN6uBqc5Q-BmHXO9Gla9aAzM&export=download",
         "webViewLink": "https://docs.google.com/document/d/1Eo1yzciYYz5GyljlICYkN6uBqc5Q-BmHXO9Gla9aAzM/edit?usp=drivesdk",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
         "hasThumbnail": false,
         "thumbnailVersion": "0",
         "viewedByMe": true,
         "viewedByMeTime": "2021-04-29T14:33:55.903Z",
         "cre[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1Eo1yzciYYz5GyljlICYkN6uBqc5Q-BmHXO9Gla9aAzM?supportsTeamDrives=TRUE
    body:
      encoding: ''
      string: '{}'
    headers:
      Content-Type: application/json
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 204
      category: Success
      reason: No Content
      message: 'Success: (204) No Content'
    headers:
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-04-29 14:34:00 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1WC2zSxEHfn8ioqJHouY4BCmN_T0-rjqM?supportsTeamDrives=TRUE
    body:
      encoding: ''
      string: '{}'
    headers:
      Content-Type: application/json
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 204
      category: Success
      reason: No Content
      message: 'Success: (204) No Content'
    headers:
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-04-29 14:34:00 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
